<div class="card-panier">
    <h2 class="titre">Drippers</h2>
    <div class="container-prix">
        <div class="paragraph">Montant de la commande</div>
        <div class="paragraph">{{total}}€</div>
    </div>
    <div class="container-prix">
        <div class="paragraph">Livraison</div>
        <div class="paragraph">4€</div>
    </div>
    <div class="container-total">
        <p class="total-paragraph">Total</p>
        <p class="total-paragraph">{{total + 4}}</p>
    </div>
    <button class="btn-validation"><a href="{{ path('app_panier_achat', {'id': id}) }}">Finaliser la commande</a></button>
</div>